/* ************************************ */
/* ! *************Variables************* */
/* ************************************ */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;411&display=swap");

:root {
   /* ?medias */
   --mobile: 375px;
   --desktop: 1440px;

   /* ?Colors */

   --main-background: hsl(233, 47%, 7%);
   --card-background: hsl(244, 38%, 16%);
   --Soft-violet: hsl(277, 64%, 61%);

   /* ?Neutral */
   /* main heading, stats */
   --White: hsl(0, 0%, 100%);
   --main-paragraph: hsla(0, 0%, 100%, 0.75);
   --stat-headings: hsla(0, 0%, 100%, 0.6);
}

body,
html {
   width: 100vw;
   height: 100vh;
   font-size: 15px;
   color: var(--White);
}

body {
   font-family: "Inter", sans-serif;
}

.main {
   width: 100%;
   height: 100%;
   background-color: var(--main-background);
   display: flex;
   justify-content: center;
   align-items: center;
}

.container {
   background-color: var(--card-background);
   width: 1080px;
   height: 446px;
   display: flex;
   border-radius: 1.4%;
   overflow: hidden;
}

.box {
   max-width: 50%;
   height: inherit;
}
.box-img {
   width: 100%;
   max-width: 100%;
   overflow: hidden;
   background-image: url("/images/image-header-desktop.jpg") !important;
}
.box-filter {
   width: 100%;
   height: 100%;
   background-color: rgba(65, 8, 100, 0.7);
}

.box-text {
   box-sizing: border-box;
   padding: 3rem 5rem;
}
.box1 {
   margin: 0;
   margin-bottom: 25%;
}
.box1 h1,
.box1 p {
   padding: 0;
   margin: 0;
   margin-top: 7%;
}

.box1 h1{
   font-weight: 900;
}
.box1 p {
   color: var(--main-paragraph);
}

.box1 span {
   color: var(--Soft-violet);
}

.box2 {
   display: flex;
   justify-content: space-between;
}
.box-info div,
.box-info p {
   margin: 0;
   padding: 0;
   color: var(--main-paragraph);
}
.box-info div {
   color: white;
   font-size: 1.4rem;
   font-weight: 750;
}
